@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Euphoria+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&display=swap');

/* Available fonts:
font-family: 'Cormorant', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Seaweed Script', cursive;
*/

:root {
	--accent1: #fc7a57;
	--accent2: #44bba4;
	--base1: #f4eded;
	--base2: #4c5760;
	--base3: #333e47;
	--base4: #0b132b;
	--linksdark: #f9db6d;
	--linkslight: #3d0c11;
	--title: Euphoria Script, Dancing Script, Seaweed Script, cursive;
	--title-font: Lato, Poppins, Raleway, sans-serif;
	--body-font: Cormorant Garamond, Cormorant, Crimson Text, serif;
}

#disclaimer {
	color: #3d0c11;
	font-family: Lato, Poppins, Raleway, sans-serif;
	margin: 0 0 18px 0;
}

* {
	transition: 0.3s;
}

body {
	background-color: #f4eded;
	color: #0b132b;
	display: flex;
	flex-direction: column;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	font-size: 18px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	width: 100vw;
}

header {
	align-items: center;
	background-color: inherit;
	border-bottom: 2px dotted #0b132b;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 4.5vw;
	position: fixed;
	top: 0;
	transition: 0.1s;
	width: 91vw;
	z-index: 3;
}

header #logo {
	color: #44bba4;
	cursor: pointer;
	display: block;
	font-family: Euphoria Script, Dancing Script, Seaweed Script, cursive;
	text-decoration: none;
}

nav {
	background-color: #0b132b;
	z-index: 2;
}

nav a, nav i {
	color: #f4eded;
	cursor: pointer;
	font-family: Lato, Poppins, Raleway, sans-serif;
	text-decoration: none;
	transition: 0.1s;
}

nav span:hover a, nav i:hover {
	color: #44bba4;
}

h2 {
	color: #fc7a57;
	font-family: Lato, Poppins, Raleway, sans-serif;
}

iframe {
	height: 100%;
	width: 100%;
}

footer {
	align-items: center;
	align-self: baseline;
	border-top: 1px solid rgba(11, 19, 43, 0.2);
	display: flex;
	flex-direction: column;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	justify-content: center;
	left: 0;
	margin: 60px 0 30px 0;
	width: 100%;
}

footer h5 {
	color: #4c5760;
	text-align: center;
}

footer span {
	display: inline-block;
	font-size: 30px;
}

footer i {
	color: #3d0c11;
	cursor: pointer;
	padding: 0 5px;
}

#menu-icon {
	background: none;
	border: none;
	color: #0b132b;
	cursor: pointer;
	display: flex;
	flex-flow: column wrap;
	height: 20px;
	justify-content: space-between;
	padding: 0;
	transition: 0.5s;
	width: 25px;
	z-index: 3;
}

#search {
	visibility: hidden;
}

#bar1, #bar2, #bar3 {
  background-color: #0b132b;
	border-radius: 5px;
	height: 4px;
  transition: 0.2s;
	width: 25px;
}

#filters {
	border: 2px solid rgba(51, 62, 71, 0.3);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

#filters button {
	background: none;
	border: none;
	color: #0b132b;
	font-family: Lato, Poppins, Raleway, sans-serif;
	font-size: 16px;
	transition: 0s;
}

#filters button:hover {
	color: #fc7a57;
	text-decoration: underline;
}

#filters div {
	background-color: #f4eded;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: none;
	flex-direction: column;
	padding: 10px;
	position: absolute;
	z-index: 5;
}

#filters div button {
	border-top: 1px solid rgba(51, 62, 71, 0.2);
	margin: 0 5px;
	padding: 7.5px;
	text-align: left;
}

#filters div button:first-child {
	border-top: none;
}

#sort-drop.change {
	display: flex;
}

#reviews-main {
	align-items: stretch;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#reviews-sidebar {
	border: 2px solid rgba(51, 62, 71, 0.3);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	overflow: hidden;
}

#reviews-sidebar > span {
	display: flex;
	flex-direction: row;
	margin: 0 10px;
}

#reviews-sidebar > span button {
	align-self: center;
	background-color: #fff0;
	border: none;
	color: #0b132b;
	font-size: 1.3em;
	width: 10%;
}

#reviews-sidebar > span button:hover {
	color: #44bba4;
}

#reviews-sidebar input[type=text] {
	background-color: inherit;
	border: 2px solid #0b132b;
	margin: 5px;
	margin-left: 0px;
	padding: 5px;
	width: 90%;
}

#reviews-sidebar > button {
	background: none;
	border: none;
	border-bottom: 1px solid #0b132b;
	color: #0b132b;
	font-family: inherit;
	font-size: 16px;
	margin: 10px;
	padding-bottom: 10px;
	transition: 0s;
}

#reviews-sidebar > button:hover {
	border-color: #fc7a57;
	color: #fc7a57;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(-45deg) translate(-3.25px, 8px);
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-3.25px, -8px);
}

.home-page, .about-page, .eto-page {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
}

.reviews-page {
	display: flex;
	flex-flow: row wrap;
	height: min-content;
	/* min-height: 60vh; */
}

.fa-filter, .fa-chevron-down {
	transition: 0s;
}

.fa-filter:hover, .fa-chevron-down:hover {
	color: #fc7a57;
}

.accordion {
  background-color: #fff0;
  color: #4c5760;
  cursor: pointer;
	margin: 0px 10px;
  outline: none;
  padding: 10px 0px;
}

.accordion.change {
	box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 1);
}

.accordion:after {
  content: '\02795';
  float: right;
	font-size: 0.8em;
  margin-left: 5px;
}

.accordion:hover {
	color: #fc7a57;
}

.accordion:hover::after, .accordion.change::after {
	content: '\2796';
}

.card {
	background: inherit;
	border: 1px solid rgba(11, 19, 43, 0.2);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 10px;
	transition: 0.1s;
}

.card:hover {
	border: 1px solid #44bba4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	color: #44bba4;
}

.panel {
  /* background-color: white; */
	color: inherit;
  display: flex;
	flex-flow: row wrap;
	height: 0;
  overflow: hidden;
	padding: 0 18px;
}

.panel h3:first-child {
	margin-top : 0;
}

.panel.change {
	height: unset;
	padding: 18px;
}

.tag {
	background: none;
	border: 1px solid rgba(11, 19, 43, 0.2);
	border-radius: 30px;
	color: #0b132b;
	display: inline;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	font-size: 16px;
	margin: 3px 1px;
	max-height: 55px;
	padding: 10px;
  transition: 0.05s;
	width: max-content;
}

.tag:hover, .tag.change {
	border-color: #fff0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	color: #44bba4;
}

.aspect-ratio {
	height: 0;
	padding-bottom: 51%;
	width: 20vw;
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}

.links {
	color: #3d0c11;
	text-decoration: none;
}

.links:hover {
	text-decoration: underline;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}
