header {
  height: 110px;
}

nav {
  display: none;
}

#menu-icon, #search, #filters > button:last-child {
  display: none;
}

#topnav {
  display: flex;
}

#topnav a {
  color: #4c5760;
  font-family: Lato, Poppins, Raleway, sans-serif;
  font-size: 18px;
  padding: 0.5vw 1.25vw;
  text-decoration: none;
}

#topnav a:hover {
  color: #fc7a57;
}

#search-box {
  display: flex;
  overflow: hidden;
  transition: 0s;
  width: 3vw;
}

#search-box.change {
  width: 25vw;
}

#topnav.change a {
  display: none;
}

#topnav button {
  background-color: #f4eded;
  border: none;
  color: #4c5760;
  cursor: pointer;
  float: right;
  font-size: 18px;
  padding: 0.5vw 0.5vw 0.5vw 1vw;
  transition: 0s;
}

#topnav button:hover {
  color: #fc7a57;
}

#topnav input[type=text] {
  border: 2px solid #4c5760;
  color: #0b132b;
  font-size: 18px;
  margin-left: 1vw;
  transition: 0.5s;
  width: 200px;
}

#disclaimer {
  margin: 130px 10% 20px 10%;
}

#reviews-main {
  padding: 0;
  margin: 0;
  width: 65%;
}

#reviews-sidebar {
  margin: 0;
  width: 32.5%;
}

.home-page {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 130px 10% 0 10%;
  padding-top: 30px;
}

.home-page div:first-child {
  margin-right: 20px;
  width: 40%;
}

.home-page iframe {
  height: 22.5vw;
  width: 40vw;
}

.about-page {
  align-items: center;
  margin: 130px 10% 0 10%;
}

.about-page .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.about-page .row .team {
  margin: 30px;
  width: 30%;
}

.eto-page {
  align-items: flex-start;
  margin: 130px 10% 0 10%;
}

.team-pics {
  width: 75%;
}

.reviews-page {
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  padding: 0;
}

.card {
  width: 45%;
}
