@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Euphoria+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&display=swap');

/* Available fonts:
font-family: 'Cormorant', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Seaweed Script', cursive;
*/

:root {
	--accent1: #fc7a57;
	--accent2: #44bba4;
	--base1: #f4eded;
	--base2: #4c5760;
	--base3: #333e47;
	--base4: #0b132b;
	--linksdark: #f9db6d;
	--linkslight: #3d0c11;
	--title: Euphoria Script, Dancing Script, Seaweed Script, cursive;
	--title-font: Lato, Poppins, Raleway, sans-serif;
	--body-font: Cormorant Garamond, Cormorant, Crimson Text, serif;
}

#disclaimer {
	color: #3d0c11;
	font-family: Lato, Poppins, Raleway, sans-serif;
	margin: 0 0 18px 0;
}

* {
	transition: 0.3s;
}

body {
	background-color: #f4eded;
	color: #0b132b;
	display: flex;
	flex-direction: column;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	font-size: 18px;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	width: 100vw;
}

header {
	align-items: center;
	background-color: inherit;
	border-bottom: 2px dotted #0b132b;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 4.5vw;
	position: fixed;
	top: 0;
	transition: 0.1s;
	width: 91vw;
	z-index: 3;
}

header #logo {
	color: #44bba4;
	cursor: pointer;
	display: block;
	font-family: Euphoria Script, Dancing Script, Seaweed Script, cursive;
	text-decoration: none;
}

nav {
	background-color: #0b132b;
	z-index: 2;
}

nav a, nav i {
	color: #f4eded;
	cursor: pointer;
	font-family: Lato, Poppins, Raleway, sans-serif;
	text-decoration: none;
}

nav a:hover, nav i:hover {
	color: #44bba4;
}

h2 {
	color: #fc7a57;
	font-family: Lato, Poppins, Raleway, sans-serif;
}

iframe {
	height: 100%;
	width: 100%;
}

footer {
	align-self: baseline;
	border-top: 1px solid rgba(11, 19, 43, 0.2);
	display: flex;
	flex-direction: column;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	justify-content: center;
	left: 0;
	margin: 60px 0 30px 0;
	width: 100%;
}

footer h5, footer h6 {
	align-self: center;
	color: #4c5760;
	padding-top: 30px;
	text-align: center;
}

footer span {
	align-self: center;
	display: inline-block;
	font-size: 30px;
}

footer i {
	color: #3d0c11;
	cursor: pointer;
	padding: 0 5px;
}

#menu-icon {
	background: none;
	border: none;
	color: #0b132b;
	cursor: pointer;
	display: flex;
	flex-flow: column wrap;
	height: 20px;
	justify-content: space-between;
	padding: 0;
	transition: 0.5s;
	width: 25px;
	z-index: 3;
}

#bar1, #bar2, #bar3 {
  background-color: #0b132b;
	border-radius: 5px;
	height: 4px;
  transition: 0.2s;
	width: 25px;
}

#filters {
	border: 2px solid rgba(51, 62, 71, 0.3);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

#filters button {
	background: none;
	border: none;
	color: #0b132b;
	font-family: Lato, Poppins, Raleway, sans-serif;
	font-size: 16px;
	transition: 0s;
}

#filters button:hover {
	color: #fc7a57;
	text-decoration: underline;
}

#filters span:hover div {
	display: flex;
}

#filters div {
	background-color: #f4eded;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: none;
	flex-direction: column;
	padding: 10px;
	position: absolute;
	z-index: 5;
}

#filters div button {
	border-top: 1px solid rgba(51, 62, 71, 0.2);
	margin: 0 5px;
	padding: 7.5px;
	text-align: left;
}

#filters div button:first-child {
	border-top: none;
}

#reviews-main {
	align-items: stretch;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#reviews-sidebar {
	border: 2px solid rgba(51, 62, 71, 0.3);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	overflow: hidden;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(-45deg) translate(-3.25px, 8px);
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-3.25px, -8px);
}

.home-page, .about-page, .eto-page {
	display: flex;
	flex-direction: column;
}

.reviews-page {
	display: flex;
	flex-flow: row wrap;
}

.fa-filter, .fa-chevron-down {
	transition: 0s;
}

.fa-filter:hover, .fa-chevron-down:hover {
	color: #fc7a57;
}

.accordion {
  background-color: none;
  color: #4c5760;
  cursor: pointer;
	margin: 0px 10px;
  outline: none;
  padding: 10px 0px;
}

.accordion:after {
  content: '\02795';
  float: right;
	font-size: 0.8em;
  margin-left: 5px;
}

.accordion:hover, .accordion.change {
	color: #fc7a57;
}

.accordion:hover::after, .accordion.change::after {
	content: '\2796';
}

.card {
	background: inherit;
	border: 1px solid rgba(11, 19, 43, 0.2);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 10px;
	transition: 0.1s;
}

.card:hover {
	border: 1px solid #44bba4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	color: #44bba4;
}

.panel {
  /* background-color: white; */
	color: inherit;
  display: flex;
	flex-flow: row wrap;
	height: 0;
  overflow: hidden;
	padding: 0 18px;
}

.panel h3:first-child {
	margin-top : 0;
}

.panel.change {
	height: unset;
	padding: 18px;
}

.tag {
	background: none;
	border: 1px solid rgba(11, 19, 43, 0.2);
	border-radius: 30px;
	color: #0b132b;
	display: inline;
	font-family: Cormorant Garamond, Cormorant, Crimson Text, serif;
	font-size: 16px;
	margin: 3px 1px;
	max-height: 55px;
	padding: 10px;
  transition: 0.05s;
}

.tag:hover {
	border-color: #f4eded;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	color: #44bba4;
}

.aspect-ratio {
	height: 0;
	padding-bottom: 51%;
	width: 20vw;
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}

.links {
	color: #3d0c11;
	text-decoration: none;
}

.links:hover {
	text-decoration: underline;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #333e47;
	font-family: Lato, Poppins, Raleway, sans-serif;
	opacity: 0.75;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header {
		justify-content: space-between;
		height: 80px;
	}

	header a h1, nav span:first-child, nav span:last-child, #topnav {
		display: none;
	}

	header a img {
		border: 2px solid #0b132b;
		border-radius: 50%;
		display: initial;
		height: 60px;
		margin: 0;
	}

	nav {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 0;
		justify-content: center;
		opacity: 0.5;
		position: fixed;
		transition: 0.5s;
		width: 100%;
	}

	nav span {
		border-bottom: 1px solid #f4eded;
		padding: 10px 0;
		width: 80%;
	}

	nav input[type=text] {
		color: #0b132b;
		font-size: 18px;
		height: 30px;
		width: 85%;
	}

	nav button {
		/* border: 1px solid #f4eded; */
		background: none;
		border: none;
		color: #f4eded;
		cursor: pointer;
		font-size: 1.05em;
		height: 30px;
		text-align: center;
		width: 15%;
	}

	nav.change {
		height: 100vh;
	}

	footer h5, footer h6 {
		font-size: 16px;
		width: 80%;
	}

	#search {
		background: none;
		border: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		/* visibility: hidden; */
		max-width: 25px;
	}

	#search i {
		color: #0b132b;
		cursor: pointer;
		font-size: 26px;
	}

	#disclaimer {
		margin: 100px 10% 20px 10%;
	}

	#filters {
		margin: 0 0 20px 0;
		width: 100%;
	}

	#reviews-main {
		align-items: initial;
		width: 100%;
	}

	#reviews-sidebar {
		margin: 20px 0 0 0;
		width: 100%;
	}

	.home-page {
		align-items: center;
		margin: 100px 10% 0 10%;
	}

	.home-page div:first-child {
		margin-bottom: 20px;
	}

	.home-page iframe {
		height: 45vw;
		width: 80vw;
	}

	.about-page {
		align-items: center;
		margin: 100px 10% 0 10%;
	}

	.about-page .row div {
		text-align: center;
	}

	.eto-page {
		align-items: left;
		margin: 100px 10% 0 10%;
	}

	.reviews-page {
		margin: 0 10% 0 10%;
	}

	.team-pics {
		width: 70%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	header {
		height: 90px;
		justify-content: space-between;
	}

	header a img, nav span:last-child, #topnav {
		display: none;
	}

	header a h1 {
		border: none;
		display: initial;
		font-size: 35px;
		height: auto;
	}

	nav {
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 0;
		position: fixed;
		top: 90px;
		width: 100vw;

		overflow: auto;
  	white-space: nowrap;
	}

	nav span {
		display: inline-block;
		padding: 0 20px;
		vertical-align: 100%;
	}

	nav span:first-child input {
		background-color: #f4eded;
		border: none;
		border-radius: 0;
		font-size: 16px;
		margin: 0;
		padding: 3px;
	}

	nav span:first-child button {
		background-color: #f4eded;
		border: none;
		border-radius: 0;
		font-size: 18px;
		padding: 1px 2px 2px 2px;
	}

	nav span:first-child i {
		color: #0b132b;
	}

	nav span:first-child i:hover {
		color: #44bba4;
	}

	nav.change {
		height: 60px;
	}

	#search {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		/* visibility: hidden; */
		width: 25px;
	}

	#search i {
		color: #0b132b;
		cursor: pointer;
		font-size: 25px;
	}

	#disclaimer {
		margin: 110px 10% 20px 10%;
	}

	#filters {
		border: 1px solid rgba(51, 62, 71, 0.3);
		margin: 0 0 20px 0;
		width: 100%;
	}

	#reviews-main {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	}

	#reviews-sidebar {
		border: 1px solid rgba(51, 62, 71, 0.3);
		margin: 20px 0 0 0;
		width: 100%;
	}

	.home-page {
		align-items: center;
		margin: 100px 10% 0 10%;
	}

	.home-page div:first-child {
		margin-bottom: 20px;
	}

	.home-page iframe {
		height: 36vw;
		width: 64vw;
	}

	.about-page {
		align-items: center;
		margin: 100px 10% 0 10%;
	}

	.about-page .row div {
		text-align: center;
	}

	.eto-page {
		align-items: left;
		margin: 100px 10% 0 10%;
	}

	.team-pics {
		width: 50%;
	}

	.reviews-page {
		margin: 0 10% 0 10%;
	}

	.card {
		width: 100%;
	}

	.panel h3 {
		display: inline-block;
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	header {
		height: 100px;
	}

	header a img, #topnav {
		display: none;
	}

	header a h1 {
		border: none;
		display: initial;
		font-size: 40px;
		height: auto;
	}

	nav {
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 0;
		position: fixed;
		top: 100px;
		width: 100vw;

		overflow: auto;
  	white-space: nowrap;
	}

	nav span {
		display: inline-block;
		padding: 0 20px;
		vertical-align: 100%;
	}

	nav span:first-child input {
		background-color: #f4eded;
		border: none;
		border-radius: 0;
		font-size: 16px;
		margin: 0;
		padding: 3px;
	}

	nav span:first-child button {
		background-color: #f4eded;
		border: none;
		border-radius: 0;
		font-size: 18px;
		padding: 1px 2px 2px 2px;
	}

	nav span:first-child i {
		color: #0b132b;
	}

	nav span:first-child i:hover {
		color: #44bba4;
	}

	#menu-icon {
		margin: 0 2.5vw 0 2vw;
	}

	#search {
		background: none;
		width: 25px;
	}

	#search i {
		cursor: pointer;
		font-size: 27.5px;
	}

	#nav.change {
		height: 60px;
	}

	#disclaimer {
		margin: 120px 10% 20px 10%;
	}

	#reviews-main {
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}

	.home-page {
		align-items: center;
		margin: 120px 10% 0 10%;
	}

	.home-page iframe {
		height: 31.5vw;
		width: 56vw;
	}

	.about-page {
		align-items: center;
		margin: 120px 10% 0 10%;
	}

	.about-page .row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 70%;
	}

	.about-page .row div {
		min-width: 40%;
		text-align: center;
	}

	.team-pics {
		width: 60%;
	}

	.eto-page {
		margin-top: 120px;
	}

	.reviews-page {
		padding: 0;
		margin: 0 10% 0 10%;
	}

	.card {
		width: 45%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	header {
		height: 110px;
	}

	nav {
		display: none;
	}

	#menu-icon, #search, #filters {
		display: none;
	}

	#topnav {
		display: flex;
	}

	#topnav a {
		color: #4c5760;
		font-family: Lato, Poppins, Raleway, sans-serif;
		font-size: 18px;
		padding: 0.5vw 1.25vw;
		text-decoration: none;
	}

	#topnav a:hover {
		color: #fc7a57;
	}

	#topnav span {
		display: flex;
		overflow: hidden;
		width: 3vw;
	}

	#topnav span:last-child {
		display: flex;
		overflow: hidden;
		transition: 0s;
		width: 3vw;
	}

	#topnav span:last-child.change {
		width: 25vw;
	}

	#topnav.change a {
		display: none;
	}

	#topnav button {
		background-color: #f4eded;
		border: none;
		color: #4c5760;
		cursor: pointer;
		float: right;
		font-size: 18px;
		padding: 0.5vw 0.5vw 0.5vw 1vw;
		transition: 0s;
	}

	#topnav button:hover {
		color: #fc7a57;
	}

	#topnav input[type=text] {
		border: 2px solid #4c5760;
		color: #0b132b;
		font-size: 18px;
		margin-left: 1vw;
		transition: 0.5s;
		width: 200px;
	}

	#disclaimer {
		margin: 130px 10% 20px 10%;
	}

	#reviews-main {
		padding: 0;
		margin: 0;
		width: 65%;
	}

	#reviews-sidebar {
		margin: 0;
		width: 32.5%;
	}

	.home-page {
		align-items: top;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 130px 10% 0 10%;
		padding-top: 30px;
	}

	.home-page div:first-child {
		margin-right: 20px;
		width: 40%;
	}

	.home-page iframe {
		height: 22.5vw;
		width: 40vw;
	}

	.about-page {
		align-items: center;
		margin: 130px 10% 0 10%;
	}

	.about-page .row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	}

	.about-page .row .team {
		margin: 30px;
		width: 30%;
	}

	.eto-page {
		align-items: left;
		margin: 130px 10% 0 10%;
	}

	.team-pics {
		width: 75%;
	}

	.reviews-page {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 10% 0 10%;
		padding: 0;
	}

	.card {
		width: 45%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	header {
		height: 110px;
	}

	nav {
		display: none;
	}

	#menu-icon, #search, #nav, #filters {
		display: none;
	}

	#topnav {
		display: flex;
	}

	#topnav a {
		color: #4c5760;
		font-family: Lato, Poppins, Raleway, sans-serif;
		padding: 0.5vw 1.25vw;
		text-decoration: none;
	}

	#topnav a:hover {
		color: #fc7a57;
	}

	#topnav span:last-child {
		display: flex;
		overflow: hidden;
		width: 3vw;
	}

	#topnav span:last-child:hover {
		transition: 0.5s;
		width: 20vw;
	}

	#topnav button {
		background-color: #f4eded;
		border: none;
		color: #4c5760;
		cursor: pointer;
		float: right;
		font-size: 18px;
		padding: 0.5vw 0.5vw 0.5vw 1vw;
		transition: 0.5s;
	}

	#topnav button:hover {
		color: #fc7a57;
	}

	#topnav input[type=text] {
		border: 2px solid #4c5760;
		color: #0b132b;
		font-size: 18px;
		margin-left: 1vw;
		transition: 0.5s;
		width: 200px;
	}

	#disclaimer {
		margin: 130px 10% 20px 10%;
	}

	#reviews-main {
		padding: 0;
		margin: 0;
		width: 70%;
	}

	#reviews-sidebar {
		margin: 0;
		width: 27.5%;
	}

	.home-page {
		align-items: top;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 130px 10% 0 10%;
		padding-top: 30px;
	}

	.home-page div:first-child {
		margin-right: 20px;
		width: 40%;
	}

	.home-page iframe {
		height: 22.5vw;
		width: 40vw;
	}

	.about-page {
		align-items: center;
		margin: 130px 10% 0 10%;
	}

	.about-page .row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	}

	.about-page .row .team {
		margin: 30px;
		width: 30%;
	}

	.about-page .row .mission {
		margin: 30px;
		width: 100%;
	}

	.eto-page {
		align-items: left;
		margin: 130px 10% 0 10%;
	}

	.team-pics {
		width: 60%;
	}

	.reviews-page {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 10% 0 10%;
		padding: 0;
	}

	.card {
		width: 46%;
	}
}
