header {
  height: 110px;
}

nav {
  display: none;
}

#menu-icon, #search, #nav, #filters > button:last-child {
  display: none;
}

#disclaimer {
  margin: 130px 10% 20px 10%;
}

#reviews-main {
  padding: 0;
  margin: 0;
  width: 70%;
}

#reviews-sidebar {
  margin: 0;
  width: 27.5%;
}

.home-page {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 130px 10% 0 10%;
  padding-top: 30px;
}

.home-page div:first-child {
  margin-right: 20px;
  width: 40%;
}

.home-page iframe {
  height: 22.5vw;
  width: 40vw;
}

.about-page {
  align-items: center;
  margin: 130px 10% 0 10%;
}

.about-page .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.about-page .row .team {
  margin: 30px;
  width: 30%;
}

.about-page .row .mission {
  margin: 30px;
  width: 100%;
}

.eto-page {
  align-items: flex-start;
  margin: 130px 10% 0 10%;
}

.team-pics {
  width: 60%;
}

.reviews-page {
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  padding: 0;
}

.card {
  width: 46%;
}
